{% extends 'general.html' %}
{%load static%}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Logout | BulkSave </title>
    <!-- <link rel="icon" type="image/x-icon" href={% static 'images/prepup1.png' %}> -->
    <link rel="stylesheet" href="{% static 'style/signup.css' %}" />
</head>

<body>
    <div class="formmain">

        <div id="flash">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags}} m-0" role="alert">
                <strong style="color: red">{{ message }}</strong><small>Refresh page to remove</small>
            </div>
            {% endfor %} {% endif %}
        </div><br />
        <br />
        <h3 class="specialtext">Logout Successfull, <a href={% url 'Loginpage' %}>Click Here To Log Back In</a></h3>
        <br />
    </div>

</body>

</html>

{% endblock content %}